[Unit]
Description=nacos
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/local/java
ExecStart=/usr/local/nacos/bin/startup.sh -m standalone
ExecStop=/usr/local/nacos/bin/shutdown.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
